<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/ma1.jpg" class="d-block w-100" alt="ma1">
    </div>
    <div class="carousel-item">
      <img src="./img/ma2.jpg" class="d-block w-100" alt="ma2">
    </div>
    <div class="carousel-item">
      <img src="./img/ma3.jpg" class="d-block w-100" alt="ma3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="w-50 mx-auto text-center pt-5" id="intro">
  <h1 class="p-3 fs-2 border-top border-3">Escucha a tus riñones.
    <span class="text-primary">  Enfermedades renales</span></h1>
  <p class="p-3 fs-4"><span class="text-primary"> Las enfermedades renales </span>son aquellas patologías que afectan al correcto funcionamiento de los riñones, que purifican la sangre y el organismo a través de la orina expulsando los deshechos y sustancias potencialmente nocivas, por lo que su función es básica.</p>
</section>
